* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100vw;
	margin: 0 10%;
	height: 100vh;
}

.colours {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 10px;
}

.colours .sq {
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.colours .sq.black {
	background-color: black;
}

.colours .sq.red {
	background-color: red;
}

.colours .sq.yellow {
	background-color: yellow;
}

.colours .sq.green {
	background-color: green;
}

.colours .sq.blue {
	background-color: blue;
}

.con {
	position: relative;
	margin: 10px 0;
}

#myC {
	border: 1px solid black;
	position: relative;
}

.bl {
	position: absolute;
	bottom: -2px;
	right: -6px;
	width: 6px;
	height: 6px;
	border: 1px solid black;
	cursor: se-resize;
}
