* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

svg {
	width: 100px;
	height: 100px;

	animation: example 3s linear infinite;
}

@keyframes example {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
