* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.cn {
	position: relative;
	width: 750px;
	height: 150px;
}

.cn .abs {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	width: 750px;
	height: 150px;
}

.star-cut {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: calc(750px / 5);
	height: 150px;
	/* background-color: blue; */
	/* opacity: 0.5; */
	clip-path: polygon(
		50% 12%,
		42% 42%,
		11% 44%,
		35% 60%,
		25% 90%,
		50% 70%,
		74% 87%,
		63% 60%,
		87% 43%,
		60% 42%
	);
}

.hv {
	width: 50%;
	height: 150px;
	/* background-color: blue; */
	opacity: 0.1;
	clip-path: none;
	z-index: 1000;
	cursor: pointer;
}

.fil {
	position: absolute;
	top: 0;
	right: 0;
	width: calc(750px / 5);
	height: 150px;
	background-color: #e5ba41;
	/* background-color: red; */
	transform: translateX(-100%);
	transition: all 300ms ease;
}

.hv:nth-child(odd):hover ~ .fil {
	transform: translateX(-50%);
}

.hv:nth-child(even):hover ~ .fil {
	transform: translateX(0%);
}

.star-cut:nth-child(5):hover ~ .star-cut .fil {
	transform: translateX(0%);
}
.star-cut:nth-child(4):hover ~ .star-cut .fil {
	transform: translateX(0%);
}
.star-cut:nth-child(3):hover ~ .star-cut .fil {
	transform: translateX(0%);
}
.star-cut:nth-child(2):hover ~ .star-cut .fil {
	transform: translateX(0%);
}
.star-cut:nth-child(1):hover ~ .star-cut .fil {
	transform: translateX(0%);
}
