* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

.container {
	position: relative;
	width: 500px;
	height: 500px;
	/* background-color: red; */
}

.label {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	display: flex;
	justify-content: center;
	align-items: center;
	color: gray;
	font-size: 3rem;
	background-color: white;
	border-radius: 100%;
	font-weight: 600;
}

.outline {
	width: 100%;
	height: 100%;
	background: conic-gradient(blue 65%, gray 35%);
	border-radius: 100%;
}
