:root {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}

body {
	overflow-y: scroll;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 30px;
	height: 100vh;
	width: 100vw;
	text-align: center;
	/* overflow: hidden; */
}

.data {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	border: 1px solid black;
	padding: 0.5rem 1rem;
	word-break: break-all;
}
